/* Basic tags */
body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: sans-serif;
}

/* Anchors */
a img {
  border: 0;
}

a {
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

a:link {
  color: #0000ff;
}

a:link:visited {
  color: #551a8b;
}

a:link:active {
  color: #ff0000;
}

/* Common page elements: header, footer, etc */
#header {
  background: url("img/header-bg-mountains01.png") no-repeat;
  background-color: #d6e7ff;
  width: 100%;
  height: 48px;
  text-align: right;
  border-bottom: 1px solid #666666;
}

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  border: 0;
  width: 64px;
  height: 64px;
}

#headerNavigation {
  text-align: left;
  vertical-align: middle;
  font-size: small;
  margin-left: 84px;
  padding-top: 54px;
}

#headerNavigation a {
  color: #000000;
  background-color: transparent;
}

#sidebar {
  float: right;
  width: 180px;
  margin-top: 30px;
  padding-right: 10px;
  padding-bottom: 0;
  color: #000000;
  background-color: #ffffff;
}

#sidebar p {
  margin-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px dashed #9c99cd;
}

#sidebar p.section {
  text-align: center;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #d6e7ff;
  border: 1px solid #9c99cd;
}

#sidebar ul {
  margin: 0 0 15px 0;
  padding: 0 10px 0 10px;
  list-style-type: none;
  border-left: 1px dashed #9c99cd;
}

#sidebar ul ul {
  padding-left: 2em;
  list-style-type: square;
}

#mainText {
  margin: 40px 200px 0 10px;
  text-align: justify;
  padding: 0;
}

/* News */

#newsblock {
  font-size:85%;
  color:#797979;
}

#newsblock .description a {
  color: #5555ff;
}

/* Copyright footer */
#copyright {
  text-align: center;
  font-size: small;
  clear: both;
  margin-top: 10px;
  padding: 5px 0px 5px 0px;
  color: #aaaaaa;
  background-color: transparent;
}

#copyright a {
  color: #aaaaff;
  background-color: transparent;
}

#copyright a:visited {
  color: #ffaaaa;
  background-color: transparent;
}

/* Screenshot section */
.screenshot {
  float: left;
  text-align:center;
  margin-right: 20px;
}

.screenshot p {
  font-size:small;
  font-style:italic;
  margin:5px;
}

div.clear {
  clear:left;
}

/* Articles section */
#articles {
  padding: 5px;
}

#articles th, #articles td {
  padding: 5px;
  border: 1px solid black;
}

#articles ul {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 2em;
    font-size: smaller
}

#articles ul li {
    list-style: circle;
}

#articles th {
  background-color: #999999;
  color: #000000;
}

#mainText h3 {
  padding: 3px;
  background-color: #d6e7ff;
  border: 1px solid #9c99cd;
}

#mainText h4 {
  margin-bottom: 0;
}

#mainText h5 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #d6e7ff;
}

#mainText dd {
    margin-bottom: 1em;
}

div#about {
  float: right;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 30%; 
  background-color: #d6e7ff;
  border: 1px solid #9c99cd;
}

div#about h4 {
  margin: 0;
}

ul.consulting { 
  list-style: none
}

ul.consulting li.first { 
  list-style: disc
}

#banner {
  background-color: rgba(220, 80, 70, 0.7);
  text-shadow: 0px 0px 1px #aaa;
  color: #fff;
  line-height: 48px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  position: fixed;
  width: 100%;
}

#banner a {
  color: #000;
  text-decoration: underline;
}
